.idea
*.user
.DS_Store
Neuro/Neuro.sln.DotSettings.user
Development~/Ninjadini.Neuro/obj/
Development~/Ninjadini.Neuro/bin/
Development~/Ninjadini.Neuro.CodeGen.Tests/bin/
Development~/Ninjadini.Neuro.CodeGen.Tests/obj/
Development~/Ninjadini.Neuro.CodeGen/bin/
Development~/Ninjadini.Neuro.CodeGen/obj/
Development~/Ninjadini.Neuro.SyncTests/bin/
Development~/Ninjadini.Neuro.SyncTests/obj/
Development~/Ninjadini.Neuro.IntegrationTests/bin/
Development~/Ninjadini.Neuro.IntegrationTests/obj/
/*.meta
